// whiteTheme
$mainWhite:rgb(250, 236, 110);
$secondWhite:#24a7c1;
$shadowWhite: rgba(66, 62, 62, 0.5);
$activeColorWhite:rgb(161, 216, 220);
$doneColorWhite:rgb(155, 233, 155);
$textColorWhite: white;
$arrowColor1White:#44c0d9;
$arrowColor2White: rgb(80, 79, 79);
$arrowColor3White:rgb(64, 147, 255);
$addButtonWhite: rgb(14, 201, 14);
$cancelButtonWhite: rgb(217, 73, 73);
$focusColorWhite:rgba(43, 225, 228, 0.977);

//darkTheme
$secondDark:#17D4FE;